<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/navbar.css">
    <style>
      
    </style>
</head>
<body>
    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
    </div>
</body>
</html>