<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Net Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/navbar.css">
    <link rel="icon" href="Media/logotd.ico" type="image/x-icon">
    <style>
       body {
            background-color: aliceblue;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a href="HomePage.html" class="navbar-brand">NetJob</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mx-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Việc làm</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#timviec">Tìm việc làm</a></li>
                      <li><a class="dropdown-item" href="#">Việc làm đã lưu</a></li>
                      <li><a class="dropdown-item" href="#">Việc đã ứng tuyển</a></li>
                    </ul>
                </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="congty.html">Công ty</a>  <!-- (đưa tới trang danh sách công ty)  -->
              </li>
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Nhà tuyển dụng</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="dangtintuyendung.html">Đăng tin tuyển dụng</a></li>
                  <li><a class="dropdown-item" href="#">Quản Lý tin tuyển dụng</a></li>
                  <li><a class="dropdown-item" href="#">?</a></li>
                </ul>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#blog">Blog tuyển dụng</a> 
            </li>
            </ul>
          </div>
                
    </div>
    
</nav>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="container" style="margin-top: 80px;">
          <a href="#" style="text-decoration: none; margin-left: 5% ;"  class="d-flex">
            <div class="card border border-5" style="width: 800px">
                <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                <div class="card-body">
                <h4 class="card-title mb-4">NHÂN VIÊN KINH DOANH - TƯ VẤN BÁN HÀNG XE NISSAN - ĐI LÀM NGAY - THU NHẬP TỪ 8 - 30 TRIỆU/ THÁNG – KHÔNG YÊU CẦU KINH NGHIỆM – KHÔNG ÁP KPI</h4>
                <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                <p> <i class="fa-solid fa-business-time"></i>  &nbsp; 0 - 1 năm kinh nghiệm</p>
                <p> <i class="fa-solid fa-calendar-days"></i>  &nbsp;&nbsp; Ngày đăng tuyển 23-08-2024 |  Hết hạn trong: Hôm nay</p>
                <button type="button" class="btn btn-outline-dark" style="width: 150px; margin-right: 20px;" >Liên hệ ngay</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px;">Lưu </button>
                </div>
            </div>
          </a>
        </div>
        <div class="mt-4"  style="width: 800px; margin-left:7%;">
          <h4>Mô tả công việc</h4>
          <p>- Hỗ trợ phát triển thị trường cho Công ty. Theo sát hỗ trợ tệp khách hàng cũ nhằm mục đích truyền đạt chính sách, sản phẩm, quyền lợi cho đại lý để thúc đẩy doanh số. <br>
            - Là cầu nối liên kết khách hàng với Công ty đứng ra giải quyết ngay lập tức các vấn đề đại lý đang gặp phải.<br>
            - Tập trung vào phát triển các thị trường hiện đang có và mở rộng đối tượng khách hàng mới.<br>
            - Đo lường hiệu quả của các chương trình và chiến lược kinh doanh đối với khách hàng.<br>
            - Nắm bắt, theo dõi thu thập dữ liệu về người tiêu dùng, đối thủ cạnh tranh và điều kiện thị trường.<br>
            - Một số công việc khác theo yêu cầu của trưởng phòng.</p>
          <h4>Kinh nghiệm / Kỹ năng chi tiết</h4>
          <p>- Tốt nghiệp CAO ĐẲNG trở lên các ngành Quản trị kinh doanh, Thương mại, Kinh tế… hoặc các ngành tương tự<br>
            - Ngoại hình ưu nhìn<br>
            - Có khả năng tự thúc đẩy, tự vạch định mục tiêu cụ thể và tập trung thực hiện mục tiêu<br>
            - Thành thạo các kĩ năng bán hàng, giao tiếp và đàm phán tới nhiều loại đối tượng<br>
            - Thành thạo các kĩ năng tổ chức công việc, quản lí thời gian<br>
            - Thành thạo kĩ năng quản trị mối quan hệ<br>
            - Cởi mở tiếp thu các góp ý phản hồi<br>
            - Sử dụng thành thạo tin học văn phòng<br>
            - Hiểu về hoạt động kinh doanh và lĩnh vực kinh doanh<br>
            - Kĩ năng giao tiếp tốt<br>
            - Năng lực giải trình<br>
            - Kĩ năng đàm phán và thuyết phục<br>
            - Kĩ năng phân tích tình huống, xử lí tình huống và ra quyết định<br>
            - Kĩ năng tổ chức và quản lý thời gian<br>
            - Kĩ năng quản trị mối quan hệ<br>
            - Tư duy tập trung vào kết quả<br>
            - Bảo mật kinh doanh<br>
            - Thái độ đặt khách hàng là trung tâm</p>
          <h4>Thông tin liên hệ</h4>
          <p>
            - Tên liên hệ:Bộ phận nhân sự<br>
            - Số nhà 12, ngõ 44 Tư Đình, tổ 5, Phường Long Biên , Quận Long Biên , Hà Nội , Viet Nam<br>
            - Các ứng viên quan tâm vui lòng gửi hồ sơ trực tuyến qua hệ thống CareerLink, gửi kèm file hoặc trực tiếp đến tại công ty<br>
            - Nhận hồ sơ bằng ngôn ngữ: Tiếng Việt<br>
          </p>
        </div>
      </div>
      <div class="col-4" style="margin-top: 80px;">
        <h4 class="text-center">Việc tương tự</h4>
        <a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
          <div class="card border border-5" style="width:360px">
              <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
              <div class="card-body">
              <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
              <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
              <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
              </div>
          </div>
      </a>
      <a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
        <div class="card border border-5" style="width:360px">
            <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
            <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
            <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
      <div class="card border border-5" style="width:360px">
          <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
          <div class="card-body">
          <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
          <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
          <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
          </div>
      </div>
  </a>
  <a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
    <div class="card border border-5" style="width:360px">
        <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
        <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
        <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
        </div>
    </div>
</a>
<a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
  <div class="card border border-5" style="width:360px">
      <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
      <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
      <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
      </div>
  </div>
</a>
<a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
  <div class="card border border-5" style="width:360px">
      <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
      <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
      <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
      </div>
  </div>
</a>
<a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
  <div class="card border border-5" style="width:360px">
      <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
      <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
      <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
      </div>
  </div>
</a>
<a href="#" style="text-decoration: none;" class="d-flex justify-content-center">
  <div class="card border border-5" style="width:360px">
      <img class="card-img-left" src="Media/viectt.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">Nhân viên phát triển kinh doanh</h4>
      <p> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
      <p> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
      </div>
  </div>
</a>

      </div>
    </div>
  </div>
  
  <footer class="bg-dark text-light mt-5 p-5">
    <div class="container">
      <div class="row" style="margin-left:30px;">
        <div class="col-md-4">
          <h5>Thông tin liên hệ</h5>
          <p>Email: bqd142@gmail.com</p>
          <p>Điện thoại: 0346-765-412</p>
        </div>
        <div class="col-md-4">
          <h5>Liên kết nhanh</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Trang chủ</a></li>
            <li><a href="#" class="text-light">Liên hệ</a></li>
            <li><a href="#" class="text-light">Dịch vụ</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Kết nối với tôi</h5>
          <a href="https://www.facebook.com/bqd142/" class="text-light me-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light me-2"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="text-light me-2"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>© 2024 Bùi Quang Độ. All rights reserved.</p>
        <a href="#" class="text-light">Điều khoản sử dụng</a> | 
        <a href="#" class="text-light">Chính sách bảo mật</a>
        
      </div>
    </div>
</footer>
</body>
</html>