<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NET JOB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/navbar.css">
    <style>
        body {
            background-image: linear-gradient(to bottom, #9dd4ec,aliceblue  );
            width:  200vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="HomePage.html" class="navbar-brand">NetJob</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mx-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Việc làm</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#timviec">Tìm việc làm</a></li>
                          <li><a class="dropdown-item" href="#">Việc làm đã lưu</a></li>
                          <li><a class="dropdown-item" href="#">Việc đã ứng tuyển</a></li>
                        </ul>
                    </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="congty.html">Công ty</a>  <!-- (đưa tới trang danh sách công ty)  -->
                  </li>
                  <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Nhà tuyển dụng</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="dangtintuyendung.html">Đăng tin tuyển dụng</a></li>
                      <li><a class="dropdown-item" href="#">Quản Lý tin tuyển dụng</a></li>
                      <li><a class="dropdown-item" href="#">?</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#blog">Blog tuyển dụng</a> 
                </li>
                </ul>
              </div>
                    
        </div>
        
    </nav>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row"> 
            <div class="col-6" >
                <div style="margin-left: 90px; margin-top: 70px;">
                    <h4>Khám phá 100.000+ công ty nổi bật</h4>
                    <p class="mt-3">Tra cứu thông tin công ty và tìm kiếm nơi làm việc tốt nhất dành cho bạn</p>
                    <form class="mt-5" style="width: 70%;">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>                       
                            <input type="text" class="form-control"  placeholder="Nhập tên công ty">                            
                            <button class="btn btn-outline-dark" type="button">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <img src="Media/timkiemcty.jpeg" style="width: px;"> 
            </div>
        </div>
    </div>
    <h3 class="text-center mt-4" > DANH SÁCH CÁC CÔNG TY NỔI BẬT</h3>
    <div class="container" >
        <div class="row mt-5">
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
            <div class="col-4">
                <a href="#" style="text-decoration: none;"  class="d-flex justify-content-center">
                    <div class="card border border-5" style="width:400px">
                        <img class="card-img-top" src="Media/dscty1.jpg" alt="Card image">
                        <div class="card-body">
                        <h6 class="card-title">TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI</h6>
                        <p class="card-text  small">" Tập đoàn Viễn thông Quân đội Viettel - giữ vững vị thế Nơi làm việc tốt nhất Việt Nam trong 06 năm liên tiếp trong ngành Viễn thông, Hạ tầng, IT (theo khảo sát Anphabe) là nhà cung cấp dịch vụ số toàn cầu, luôn đi đầu trong đổi mới sáng tạo và luôn lắng nghe, thấu hiểu để đem tới những dịch vụ tốt nhất cho khách hàng. Viettel..."</p>
                        </div>
                    </div>
                  </a>
            </div>
        </div>
        
    </div>

<footer class="bg-dark text-light mt-5 p-5">
    <div class="container">
        <div class="row" style="margin-left:30px;">
        <div class="col-md-4">
            <h5>Thông tin liên hệ</h5>
            <p>Email: bqd142@gmail.com</p>
            <p>Điện thoại: 0346-765-412</p>
        </div>
        <div class="col-md-4">
            <h5>Liên kết nhanh</h5>
            <ul class="list-unstyled">
            <li><a href="#" class="text-light">Trang chủ</a></li>
            <li><a href="#" class="text-light">Liên hệ</a></li>
            <li><a href="#" class="text-light">Dịch vụ</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Kết nối với tôi</h5>
            <a href="https://www.facebook.com/bqd142/" class="text-light me-2"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-light me-2"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="text-light me-2"><i class="fab fa-github"></i></a>
        </div>
        </div>
        <div class="text-center mt-3">
        <p>© 2024 Bùi Quang Độ. All rights reserved.</p>
        <a href="#" class="text-light">Điều khoản sử dụng</a> | 
        <a href="#" class="text-light">Chính sách bảo mật</a>
        </div>
    </div>
</footer>
    
</body>
</html>