<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Css/navbar.css">
</head>
<body>

  <div class="container mt-5 rounder border" > <!--tuyển dụng gấp-->
    <h3 class="mt-3 ml-3"> <img src="Media/logotd.png" width="40px"> Tuyển dụng gấp</h3>  
    <!-- Nội dung cần phân trang -->
    <div id="contentContainer1">
        <div class="content">
            <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
            <div class="container mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Technician</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="content">
            <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
            <div class="container mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 8 triệu - 1s0 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                        </div>
                        
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 15 triệu - 20 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Technician</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 7 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="content">
            <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
            <div class="container mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Technician</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="content">
            <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
            <div class="container mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                        <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                        <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                        <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                        <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Điều hướng phân trang -->
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" onclick="previousPage('contentContainer1', event)">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="changePage('contentContainer1', 1, event)">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="changePage('contentContainer1', 2, event)">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="changePage('contentContainer1', 3, event)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="nextPage('contentContainer1', event)">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container mt-5 rounder border" > <!--Việc làm đang hot-->
<h3 class="mt-3 ml-3"> <img src="Media/logotd.png" width="40px"> Việc làm đang Hot</h3>  
<!-- Nội dung cần phân trang -->
<div id="contentContainer2">
    <div class="content">
        <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Technician</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="content">
        <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 8 triệu - 1s0 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 15 triệu - 20 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Technician</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 7 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="content">
        <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam2.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Chuyên Viên Tư Vấn Tuyển Sinh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hoàng Mai, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam3.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân Viên Kinh Doanh/ Sale</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 15 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam4.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Kỹ Sư Điện</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam5.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Technician</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam6.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên Bán hàng</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Hai Bà Trưng, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam7.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phục vụ quán cafe</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 7 triệu - 10 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên lắp đặt</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 10 triệu - 20 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam9.png" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="content">
        <div style="background-color: aliceblue;" class="pb-3"> <!--danh sách việc làm--> 
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
                <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                    <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                    <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                    <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                    <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
                </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
            <div class="col-4">
                <div class="rounder card-hover2" style="width: 420px; padding-top: 10px; padding-left: 5px;">
                <img src="Media/logovieclam1.webp" class="float-start" style="width:80px; margin-right: 20px;">
                <a href="chitietcongviec.html">Nhân viên phát triển kinh doanh</a>
                <p style="margin-top: 5px;"> <i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;  Quận Long Biên, Hà Nội</p>
                <p style="margin-top: -15px; padding-bottom: -10px;"> <i class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; 5 triệu - 30 triệu</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- Điều hướng phân trang -->
<nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" onclick="previousPage('contentContainer1', event)">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" onclick="changePage('contentContainer1', 1, event)">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" onclick="changePage('contentContainer1', 2, event)">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" onclick="changePage('contentContainer1', 3, event)">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" onclick="nextPage('contentContainer1', event)">Next</a>
        </li>
    </ul>
</nav>
</div>



<script>
  const itemsPerPage = 1;
let currentPages = {}; // Đối tượng để lưu trang hiện tại cho từng container
let totalPages = {}; // Đối tượng để lưu tổng số trang cho từng container

function initializeContainer(containerId) {
    const contents = document.querySelectorAll(`#${containerId} .content`);
    totalPages[containerId] = Math.ceil(contents.length / itemsPerPage);
    currentPages[containerId] = 1;

    showPage(containerId, currentPages[containerId]);
}

function showPage(containerId, page) {
    const contents = document.querySelectorAll(`#${containerId} .content`);
    
    // Giới hạn trang
    if (page < 1) page = 1;
    if (page > totalPages[containerId]) page = totalPages[containerId];

    currentPages[containerId] = page;
    const start = (page - 1) * itemsPerPage;
    const end = start + itemsPerPage;

    // Ẩn tất cả nội dung và chỉ hiển thị các nội dung cần thiết
    contents.forEach((item, index) => {
        item.classList.remove('show');
        if (index >= start && index < end) {
            item.classList.add('show');
        }
    });
}

function changePage(containerId, page, event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    showPage(containerId, page);
}

function nextPage(containerId, event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    if (currentPages[containerId] < totalPages[containerId]) {
        showPage(containerId, currentPages[containerId] + 1);
    }
}

function previousPage(containerId, event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    if (currentPages[containerId] > 1) {
        showPage(containerId, currentPages[containerId] - 1);
    }
}

// Hàm để thêm nội dung mới cho container
function addNewContent(containerId, newContent) {
    const newDiv = document.createElement('div');
    newDiv.classList.add('content');
    newDiv.textContent = newContent;
    document.getElementById(containerId).appendChild(newDiv);

    // Cập nhật tổng số trang sau khi thêm nội dung
    totalPages[containerId] = Math.ceil(document.querySelectorAll(`#${containerId} .content`).length / itemsPerPage);
    showPage(containerId, currentPages[containerId]); // Hiển thị trang hiện tại
}

// Khởi tạo các container
initializeContainer('contentContainer1');
initializeContainer('contentContainer2');
</script>
  
</div>
</body>
</html>